* {
    font-family: "Inter", sans-serif;
}
#header {
    background-color: #303030;
    color: #FFFFFF;
    height: 475px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 54px;
}
#title-header {
    font-size: 60px;
    line-height: 72px;
}
#text-header {
    font-size: 20px;
    line-height: 28px;
}
#statistics {
    background-color: #F9F9F9;
    padding: 54px;
}
#statistics ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    min-height: 229px;
    list-style: none;
}
#statistics h1 {
    font-size: 40px;
    line-height: 28px;
}
#statistics span {
    font-size: 20px;
    line-height: 28px;
}
#about {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 54px;
}
#about article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#about h1 {
    font-size: 40px;
    line-height: 40px;
}
#about p {
    font-size: 24px;
    line-height: 30px;
}
#about img {
    width: 510px;
    height: 605px;
    border-radius: 30px;
}
#footer {
    background-color: #303030;
    color: #FFFFFF;
    height: 638px;
    padding: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer h1 {
    height: 32px;
    font-weight: 700;
}
#footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input {
    width: 508px;
    height: 72px;
    border-radius: 10px;
    padding-left: 15px;
    margin-top: 48px;
    font-size: 24px;
    line-height: 30px;
}
button {
    background: #C07212;
    color: #FFFFFF;
    width: 286px;
    height: 72px;
    border-radius: 10px;
    margin: auto;
    margin-top: 88px;
    font-size: 24px;
    line-height: 30px;
    cursor: pointer;
}
button:hover {
    transform: translateY(-7px);
    transition: 0.5s;
}
@media (max-width: 1200px) {
    #statistics h1 {
        font-size: 32px;
        line-height: 24px;
    }
    #statistics span {
        font-size: 16px;
        line-height: 24px;
    }
    #about {
        grid-template-columns: 1fr;
        padding: 54px;
    }
    #about img {
        margin: auto;
    }
}
@media (max-width: 700px) {
    #statistics {
        margin: auto;
    }
    #statistics ul {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    #about img {
        width: 100%;
    }
    .input {
        width: 100%;
        height: 48px;
        border-radius: 10px;
        padding-left: 15px;
        margin-top: 32px;
        font-size: 24px;
        line-height: 30px;
    }
    button {
        width: 264px;
        margin-top: 44px;
    }
}