* {
    font-family: "Inter", sans-serif;
}
#header {
    background-color: #303030;
    color: #FFFFFF;
    height: 475px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 54px;
}
#title-header {
    font-size: 60px;
    line-height: 72px;
}
#text-header {
    font-size: 20px;
    line-height: 28px;
}
#statistics {
    background-color: #F9F9F9;
    padding: 54px;
}
#statistics ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 229px;
    list-style: none;
}
#statistics h1 {
    font-size: 40px;
    line-height: 28px;
}
#statistics span {
    font-size: 20px;
    line-height: 28px;
}
#about {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 54px;
}
#about article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#about h1 {
    font-size: 40px;
    line-height: 20px;
}
#about p {
    font-size: 24px;
    line-height: 30px;
}
#about img {
    width: 510px;
    height: 605px;
    border-radius: 30px;
}
#footer {
    background-color: #303030;
    color: #FFFFFF;
    height: 638px;
    padding: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer h1 {
    height: 32px;
    font-weight: 700;
    line-height: 150%;
}
#footer form {
    display: flex;
    flex-direction: column;
}
.input {
    width: 508px;
    height: 72px;
    border-radius: 10px;
    padding-left: 15px;
    margin-top: 48px;
    font-size: 24px;
    line-height: 30px;
}
button {
    background: #C07212;
    color: #FFFFFF;
    width: 286px;
    height: 72px;
    border-radius: 10px;
    margin: auto;
    margin-top: 88px;
    font-size: 24px;
    line-height: 30px;
}